<div class="header-container">
    <header class="site-head" style="background-image:url({{@blog.cover}})">
        <div class="header-text">
            <h1 class="blog-title">{{@blog.title}}</h1>
            <span class="blog-description">{{@blog.description}}</span>
            <p>
                <a href="https://twitter.com/amadormateof" class="zocial icon twitter" target="_blank"></a>
                <a href="https://www.facebook.com/amadormateocom" class="zocial icon facebook"></a>
                <a href="https://www.linkedin.com/in/amadormateo" class="zocial icon linkedin"></a>
            </p>
        </div>
    </header>
    <nav class="main-nav">
            <ul>
                <li><a href="/"><i class="fa fa-home"></i> Inicio</a></li>
                <li><a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i> RSS</a></li>
            </ul>
    </nav>
</div>
